<div layout-padding flex ng-cloak>

    <div>Created by Vít Doleží | Copyright © 2017</div>


    <md-switch ng-model="enableSound" aria-label="Enable sound"  ng-change="onChange()">
        Enable sound: {{ enableSound }}
    </md-switch>
    <!--<pre>{{output | json}}</pre>-->


</div>