<div layout-padding flex ng-cloak>


        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Address range from</label>
                <input ng-model="ipInput.ipAddressFrom" ng-change="inputChange()" ng-pattern="ipv4Pattern">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Address range to</label>
                <input ng-model="ipInput.ipAddressTo" ng-change="inputChange()" ng-pattern="ipv4Pattern">
            </md-input-container>

        </div>

    <div layout-padding>

        <div layout="row" >
            <div class="output-fixed-width"> <b>Prefix</b></div>
            <div><b>Subnet Mask</b></div>
        </div>
        <div layout="row" ng-repeat="item in output" >
            <div class="output-fixed-width"> {{item.ipLowStr}} / {{item.prefixSize}}</div>
            <div>{{item.prefixMaskStr}}</div>
        </div>


    </div>
    <a href="" id="csv" ng-if="output.length != 0"><md-button ng-click="csvExport()" class="md-raised">Export to CSV</md-button></a>





    <!--<pre>{{output | json}}</pre>-->
</div>