<div layout-padding flex ng-cloak>

    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>IP address</label>
            <input ng-model="ipInput.ipAddress"  ng-change="inputChange()" ng-pattern="ipv4Pattern">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Network mask</label>
            <input ng-model="ipInput.networkMask" ng-change="inputMaskChange()" ng-pattern="ipv4Pattern">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Prefix length</label>
            <input ng-model="ipInput.prefixLength" type="number" min="0" max="32" ng-change="inputChange()">
        </md-input-container>
    </div>

    <!--<pre>{{ipInput | json}}</pre>-->
    <!--<pre>{{output | json}}</pre>-->
    <div>
        <h3>Output</h3>
        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">Address range:</div> <div ng-if="output.ipHigh">{{output.ipLowStr}} - {{output.ipHighStr}}</div><br show-xs></div>
        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">Number of subnets:</div> <div>{{numberOfSubnets(output.prefixSize)}}</div><br show-xs></div>
        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">Number of hosts:</div> <div ng-if="output.ipHigh">{{output.ipHigh-output.ipLow-1}}</div><br show-xs></div>
        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">Including net/broadcast:</div> <div ng-if="output.ipHigh">{{output.ipHigh-output.ipLow+1}}</div><br show-xs></div>
        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">Network address:</div> <div>{{output.ipLowStr}}</div><br show-xs></div>
        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">Broadcast address:</div> <div>{{output.ipHighStr}}</div><br show-xs></div>
    </div>

    <div>
        <h3>Binary Output</h3>

        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">IP address:</div> <div>{{output.orgInput | ipToBin}}</div><br show-xs></div>
        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">Network mask:</div> <div>{{output.prefixMaskStr | ipToBin}}</div><br show-xs></div>
        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">Network address:</div> <div>{{output.ipLowStr | ipToBin}}</div><br show-xs></div>
        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">Broadcast address:</div> <div>{{output.ipHighStr | ipToBin}}</div><br show-xs></div>

    </div>

    <div>
        <h3>Hexadecimal Output</h3>
        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">IP address:</div> <div>{{output.orgInput | ipToHex}}</div><br show-xs></div>
        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">Network mask:</div> <div>{{output.prefixMaskStr | ipToHex}}</div><br show-xs></div>
        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">Network address:</div> <div>{{output.ipLowStr | ipToHex}}</div><br show-xs></div>
        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">Broadcast address:</div> <div>{{output.ipHighStr | ipToHex}}</div><br show-xs></div>

    </div>

    <!--<pre>{{output | json}}</pre>-->


</div>