h1{
    color: green;
}
.link-decoration-none{
    text-decoration: none;
}

.output-fixed-width{
    min-width: 200px;
}

.view-animate-container {
    position:relative;
    height:100vh!important;
    overflow-x: hidden;


}

.view-animate {
    padding:10px;
    overflow-x: hidden;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;

    display:block;
    width:100%;


    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:10px;
    overflow: hidden;

}

.view-animate.ng-enter {
    left:100%;

}
.view-animate.ng-enter.ng-enter-active {
    left:0;

}
.view-animate.ng-leave.ng-leave-active {
    left:-100%;

}

