<div layout-padding flex ng-cloak>

    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>IPv6 address</label>
            <input ng-model="ipInput.ipAddress" ng-change="inputChange()">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Prefix length</label>
            <input ng-model="ipInput.prefixLength" disabled>
        </md-input-container>
    </div>


    <div>
        <h3>Output</h3>
        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">Network:</div> <div>{{output.network}}</div><br show-xs></div>
        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">Network range:</div> <div>{{output.range.from}} - {{output.range.to}}</div><br show-xs></div>
        <div layout-gt-xs="row" layout="column"><div class="output-fixed-width">Number of addresses:</div> <div>{{output.totalIpAddresses}}</div><br show-xs></div>


    </div>


    <!--<pre>{{output | json}}</pre>-->
</div>