<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>IP Calculator - TAMZ semestral project</title>
        <meta name="description" content="ip calculator" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link rel="icon" href="favicon.ico">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="bowerAll.css">
        <script src="bowerAll.js"></script>


        <!-- inject:js -->
        <!-- endinject -->

    </head>
    <body ng-app="IpCalc" ng-controller="AppController"  layout="row" >

    <audio id="emp">
        <source src="MW2_Killstreak_EMP.ogx" type="audio/ogg">
    </audio>

    <audio id="horse">
        <source src="horse.ogg" type="audio/ogg">
    </audio>

    <md-sidenav
            class="md-sidenav-left sidenav-max"
            md-colors="::{background: 'default-primary-A700'}"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4" >
        <md-toolbar md-colors="::{background: 'default-primary-900'} " layout="column" layout-align="center center" layout-padding class="flex-no-shrink">

            <!--<a href="#!/userTable"><img src="assets/images/icons/ibb-logo.png" height="200" /></a>-->
            <h2>IP Calculator </h2>

        </md-toolbar>

        <md-content >
            <md-list >
                <a ng-repeat="page in pages" href="#!{{page.href}}"  class="link-decoration-none" >
                    <md-list-item ng-click="close()" md-colors="::{background: 'default-primary-A700'}" ">
                        <p>{{page.name}}</p>
                    </md-list-item>
                </a>
            </md-list>

        </md-content>
    </md-sidenav>

    <md-content role="main" flex layout="column" layout-fill >
        <md-toolbar class="md-toolbar-tools" layout="row" md-colors="::{background: 'default-primary-700'} ">
            <md-button class="md-button md-icon-button" ng-click="toggleLeft()"
                       hide-gt-md>
                <i class="material-icons">menu</i>
            </md-button>
            <div class="md-toolbar-tools">
                <h2>{{ dynamicTitle }}</h2>
                <span flex></span>

            </div>
        </md-toolbar>

        <div class="view-animate-container">
            <md-content ng-view class="view-animate"></md-content>
        </div>
    </md-content>

    </body>
</html>